@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  --rdp-selected-color: #BEF264;
}

* {
  min-width: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


